<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favorite.user_id %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @favorite.gift_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @favorite.memo %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
