<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gift.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @gift.photo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @gift.url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gift.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gift.longitude %>
</p>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
