<%= form_with(model: purchased_gift, local: true) do |form| %>
  <% if purchased_gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchased_gift.errors.count, "error") %> prohibited this purchased_gift from being saved:</h2>

      <ul>
      <% purchased_gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :gift_id %>
    <%= form.number_field :gift_id %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
