<p id="notice"><%= notice %></p>

<h1>Purchased Gifts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Gift</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchased_gifts.each do |purchased_gift| %>
      <tr>
        <td><%= purchased_gift.user_id %></td>
        <td><%= purchased_gift.gift_id %></td>
        <td><%= purchased_gift.memo %></td>
        <td><%= link_to 'Show', purchased_gift %></td>
        <td><%= link_to 'Edit', edit_purchased_gift_path(purchased_gift) %></td>
        <td><%= link_to 'Destroy', purchased_gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchased Gift', new_purchased_gift_path %>
