<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchased_gift.user_id %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @purchased_gift.gift_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @purchased_gift.memo %>
</p>

<%= link_to 'Edit', edit_purchased_gift_path(@purchased_gift) %> |
<%= link_to 'Back', purchased_gifts_path %>
